---
environment:
  LOG_LEVEL: info
  LOG_FORMAT: json
  KAFKA_URL: "kafka:9092"
  REDIS_HOST: "redis-nonce-master"
  REDIS_PORT: "6379"
  TOPIC_TX_RECOVER: "topic-tx-recover"
  TOPIC_TX_CRAFTER: "topic-tx-crafter"
  TOPIC_TX_SIGNER: "topic-tx-signer"
  TOPIC_TX_SENDER: "topic-tx-sender"
  KAFKA_GROUP_TX_CRAFTER: "tx-crafter-group"
  KAFKA_GROUP_TX_SENDER: "tx-sender-group"
  KAFKA_GROUP_TX_SIGNER: "tx-signer-group"
  CHAIN_REGISTRY_URL: "http://api-chain-registry:8081"
  CHAIN_REGISTRY_METRICS_URL: "http://api-chain-registry:8082"
  CONTRACT_REGISTRY_URL:  "api-contract-registry:8080"
  CONTRACT_REGISTRY_METRICS_URL: "http://api-contract-registry:8082"
  TRANSACTION_SCHEDULER_URL: "http://api-transaction-scheduler:8081"
  TRANSACTION_SCHEDULER_METRICS_URL: "http://api-transaction-scheduler:8082"
  TX_CRAFTER_METRICS_URL: "http://tx-crafter:8082"
  TX_SIGNER_METRICS_URL: "http://tx-signer:8082"
  TX_LISTENER_METRICS_URL: "http://tx-listener:8082"
  TX_SENDER_METRICS_URL: "http://tx-sender:8082"
  IDENTITY_MANAGER_URL: "http://api-identity-manager:8081"
  IDENTITY_MANAGER_METRICS_URL: "http://api-identity-manager:8082"
  KEY_MANAGER_URL: "http://api-key-manager:8081"
  KEY_MANAGER_METRICS_URL: "http://api-key-manager:8082"
