test:
  enabled: true

testImage:
  repository: "{{ .Environment.Values.repositories.e2e }}"
  tag: "{{ .Environment.Values.tags.e2e }}"
testImageCredentials:
  create: true
  registry: {{ .Environment.Values.registry.url }}
  username: {{ .Environment.Values.registry.credentials.username }}
  password: {{ .Environment.Values.registry.credentials.password }}

testEnvironment:
  {{- .Environment.Values.testEnvironment | toYaml | nindent 2 }}
