testImage:
  repository: "{{ .Environment.Values.repositories.e2e }}"
  tag: "{{ .Environment.Values.tags.e2e }}"
testImageCredentials:
  create: true
  registry: {{ .Environment.Values.registry.url }}
  username: {{ .Environment.Values.registry.credentials.username }}
  password: {{ .Environment.Values.registry.credentials.password }}

testEnvironment:
  CHAIN_REGISTRY_URL: http://api-chain-registry:8081
  CHAIN_REGISTRY_METRICS_URL: http://api-chain-registry:8082
  CONTRACT_REGISTRY_HTTP_URL: http://api-contract-registry:8081
  CONTRACT_REGISTRY_METRICS_URL: http://api-contract-registry:8082
  TRANSACTION_SCHEDULER_URL: http://api-transaction-scheduler:8081
  TRANSACTION_SCHEDULER_METRICS_URL: http://api-transaction-scheduler:8082
  {{- .Environment.Values.testEnvironment | toYaml | nindent 2 }}
