resources:
{{- range $_, $file := ( exec "bash" (list "-c" "echo -n dashboards/*.json") | splitList " " ) }}
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: {{ base $file | replace (ext $file) "" }}-dashboard
  data:
    {{ base $file }}: |-
      {{- readFile $file | nindent 6 }}
{{- end }}
