---
fullnameOverride: "postgresql-envelope-store"
replication:
  enabled: false
persistence:
  enabled: {{ .Values | get "postgresql.persistence.enabled" true }}
  storageClass: {{ .Values | get "postgresql.persistence.storageClass" "gp2" }}
livenessProbe:
  enabled: true
readinessProbe:
  enabled: true
metrics:
  enabled: false
postgresqlDatabase: envelope-store
postgresqlUsername: envelope-store
postgresqlPassword: such-secret
