---
chainRegistry:
  init: ''
  cache: '1s'

metrics:
  enabled: true

testEnvironment:
  CUCUMBER_CONCURRENCY: 10
  # CUCUMBER_TAGS: "@besu"

## Default storage class is gp2 for AWS
kafka:
  persistence:
    enabled: true
    storageClass: "gp2"
zookeeper:
  persistence:
    enabled: true
    storageClass: "gp2"
postgresql:
  persistence:
    enabled: true
    storageClass: "gp2"
